@font-face {
  font-family: gist;
  src: url("Fonts/GistLight.otf");
}

h1 {
  font-family: gist;
}

p {
}

/*How to use Google Fonts */

/* h1 {
  font-family: "Poppins", sans-serif;
} */

/* p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: italic;
} */
