#bg {
  background-image: url("assets/XcZ1s.png");
}

/* #bg2 {
  background-image: url("assets/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
} */

/* body {
  background-image: url("assets/bg2.jpg");
  background-attachment: fixed; 
  background-size: cover;
} */
